*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ------------------------------------------------------- */

/* common */

/* ------------------------------------------------------- */

body{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}
input{
    font-size: 20px;

}
li{
    list-style-type: none;
}
main{
    background: linear-gradient(#019688 15%, #d2dbdc 15%);
    height: 100vh;
}
img{
    width: 100%;
}
.green{
    height: 150px;
    background: linear-gradient(#009688, #029588);
}
.container{
    width: 80%;
    height: 900px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    display: flex;
    overflow: hidden;
    box-shadow: 0px 0px 10px 0px rgb(134, 134, 134);
}
.top{
    background-color: #eaeaea;
    border-bottom: 1px solid lightgray;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
input{
    color: gray;
    outline: none;
    border: none;
    border-radius: 5px;
}

/* ------------------------------------------------------- */

/* left */

/* ------------------------------------------------------- */

.left-cont{
    border-right: 1px solid rgb(189, 189, 189);
    width: 40%;
}
.left-cont input{
    padding: 10px;
    box-shadow: 0px 0px 3px 0px rgba(194,192,194,1);
    width: 95%;
    display: block;
    margin: auto;
    margin-top: 10px;
}
.contact{
    height: 100px;
    border-bottom: 1px solid lightgray;
    display: flex;
    align-items: center;
}
.contact.circle{
    background-color: black;
}
.user{
    display: flex;
    align-items: center;
}
.circle{
    width: 55px;
    height: 55px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px;
}
.icons{
    font-size: 24px;
    color: #b1b1b1;
}
.icons .fas{
    padding: 6px;
}
.notification{
    background-color: #8edafb;
    display: flex;
    align-items: center;
    padding: 15px 10px;
}
.notification .circle{
    display: flex;
    align-items: center;
    color: #8edafb;
    background-color: white;
}
.notification .circle .fas{
    margin: auto;
}
/* ------------------------------------------------------- */

/* center */

/* ------------------------------------------------------- */
.right-cont .center{
    height: 100%;
    background-image: url("../img/mine.jpg");
}
.gg{
    position: relative;
}
.center li{
    padding: 10px 20px 10px 10px;
    border-radius: 10px;
    background: #d5f9ba;
    width: 40%;
    margin-left: auto;
    margin-bottom: 20px;
}
li.send {
    background: white;
    margin-left: 0
 }


/* ------------------------------------------------------- */

/* right */

/* ------------------------------------------------------- */

.right-cont{
    width: 60%;
    position: relative;
}
.bottom{
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #f3eeea;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.bottom input{
    padding: 10px;
    margin: 10px 0;
    width: 80%;
}
.bottom{
    font-size: 28px;
    color: #6a7376;
}

