<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <link rel="stylesheet" href="css/style.css">
    <title>boolzap</title>
</head>
<body>
    
    <div id="root">
        <main>
            <div class="container">

                <section class="left-cont">

                    <div class="top ">

                        <div class="user">
                            <div class="circle">
                                <img src="img/avatar_io.jpg" alt="">
                            </div>
                            <span>
                                nome utente
                            </span>
                        </div>
                        
                        
                        <div class="icons">
                            <i class="fas fa-circle-notch"></i>
                            <i class="fas fa-comment-alt"></i>
                            <i class="fas fa-ellipsis-v"></i>
                        </div>

                    </div>

                    <div class="notification">
                        <div class="circle">
                            <i class="fas fa-bell-slash"></i>
                        </div>
                        <div>
                            ricevi notifiche di nuovi messaggi <br>
                            <a href="#">attiva notifiche desktop</a>
                        </div>
                    </div>

                    <input type="text" placeholder="Cerca o inizia una nuova chat"> 

                    <div class="contact" v-for="(name,index) in contacts" @click="thisConversation = index">
                        <div class="circle">
                            <img :src="'img/avatar' + name.avatar + '.jpg'"  alt="">
                        </div>
                        <div>
                            {{name.name}}
                        </div>
                    </div>

                </section>

                <section class="right-cont">

                    <div class="top">

                        <div class="user">
                            <div class="circle">
                                <img src="img/avatar_1.jpg" alt="">
                            </div>
                            <span>
                                nome utente
                            </span>
                        </div>
                        <div class="icons">
                            <i class="fas fa-search"></i>
                            <i class="fas fa-paperclip"></i>
                            <i class="fas fa-ellipsis-v"></i>
                        </div>

                    </div>

                    <div class="center">
                        <ul>
                            <li :class="{send: item.status === 'sent'}" v-for='(item,index) in contacts[thisConversation].messages'>
                                <div >{{item.text}}</div>
                            </li>
                            
                        </ul>
                    </div>

                    <div class="bottom">
                        <i class="far fa-smile"></i>
                        <input type="text">
                        <i class="fas fa-microphone"></i>
                    </div>

                </section>

            </div>
        </main>
    </div>


    <script src="https://unpkg.com/dayjs@1.8.21/dayjs.min.js"></script>
    <script src="js/script.js"></script>
</body>
</html>